<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1 Data Science Jupyter Assignment #

This jupyter notebook will be showcasing basic skills in using the tool

A list of the popular data science languages

1. SQL
2. Python
3. R

An unordered list of the data science libraries:

- Scikit
- Cerat
- Tensorflow
- Pandas

| Data Science Tools |
|--------------------|
|Jupyterlab|
|Jupyter Notebook|
|R|

Below is a cell demonstrating arithmetic Expression

In [3]:
#A simple cell for an arithmetic expression
(3*5)+4

19

In [9]:
#A cell to convert minutes to hours
200/60

3.3333333333333335

___Bold Objectives:___
- List popular languages for Data Science
- Show different kinds of headers
- Show Bold and Italics
- Show arithmetic Operations

### H3 Author:
Nkosinathi Dubazana